<h1><%= t('char.list') %></h1>

<%= form_tag chars_path, :method => 'get', :id => 'chars_search' do %>
  <input id="search" type=search results=5 autosave=some_unique_value placeholder=Search... name="search">
  <div id="chars"><%= render 'chars' %></div>
<% end %>
